<%- include("header"); -%>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    input[type=text],
    select,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }

    .container3 {
      float: left;
      margin-left: 15%;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      padding-top: 10px;
      height: auto;
      width: 400px;

    }

    .form-form {
      position: centre;

    }

    .container4 {


      right: 22%;
      position: relative;
      width: 400px;
      margin-top: 1.5%;
      float: right;
      font-style: italic;
      font-family: montserrat;
    }

    .form-div {
      margin-left: 10px;
    }

    .address {

      border-color: #45a049;
      height: 300;
      width: 300;
    }

    h1 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 3rem;
      color: rgba(36, 41, 18, 0.678);
      
    }
  </style>

  <div>
    <h1 style="position: relative; margin-left: 40%; font-family: 'Mukta', sans-serif;
  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');">Contact Form</h1>

    <div class="container3">

      <div class="">
        <form class="form-form">
          <label for="fname">Name</label>
          <input type="text" id="fname" name="name" placeholder="Your name..">

          <label for="lname">Email</label>
          <input type="text" id="lname" name="email" placeholder="Your email..">

          <label for="lname">Email</label>
          <input type="text" id="lname" name="email" placeholder="Your email..">

          <!-- <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select> -->

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="container4">

      <div class="address" style="height: 300; width: 300;">


        <i class="fa fa-map-marker"></i>
        <i class="fa fa-map-marker" style="font-size:24px"></i>
        <i class="fa fa-map-marker" style="font-size:36px"></i>
        <i class="fa fa-map-marker" style="font-size:48px;color:red"></i>
        <br>
        <br>
        <p>500 Terry Francois Street,<br> San Francisco, CA 94158 <br>

          info@mysite.com <br> Tel: 123-456-7890</p>
      </div>

    </div>

  </div>



  <%- include("footer"); -%>