<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/styles1.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT</a></li>
        <li id="contact"><a href="/contact">CONTACT</a></li>
        <li id="compose"><a href="/compose">Compose Here</a></li>
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
      </ul>
    </div>
  </nav>

<body>

  <style>
    #mySidenav a {
      margin-top: 75px;
      position: absolute;
      left: -70px;
      transition: 0.3s;
      padding: 15px;
      width: 100px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      border-radius: 0 5px 5px 0;
    }

    #mySidenav a:hover {
      left: 0;
    }

    #login {
      top: 20px;
      background-color: #6bb36d;
    }
  </style>

  <div id="mySidenav" class="sidenav">
    <a href="/login" id="login">Login</a>
  </div>


  <!-- <div class="container"></div> -->