
<%- include("header"); -%>


<div class = "login-page">
    <div class = "form">
      <form class="login-form" method="post" action = "signup">
        <input type="text" placeholder="Name" name = "name">
        <input type="number" placeholder="Age" name="age" id="">
        <input type="text" placeholder="Username" name = "username">
        <input type="password" placeholder="Password" name = "password">
        <input type="text" placeholder="Email address" name = "email">
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
    </div>
</div>



<%- include("footer"); -%>